.product-list {
  &__title {
    font-size: 21px;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }

  .ant-list-pagination {
    text-align: center;
  }

  .ant-pagination-item-active {
    border-color: #000000;
  }

  .ant-pagination-item:hover {
    border-color: #000000;
    background-color: rgb(240, 240, 240);
  }

  .ant-pagination-item:hover a {
    color: #000000;
  }

  .ant-pagination-item-active a {
    color: #000000;
  }

  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #000000;
    border-color: #000000;
  }

  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
}
