.filter-wrapper {
  width: 100%;
  min-width: 300px;

  & .ant-collapse-header-text {
    font-weight: bold;
  }

  & .ant-collapse-item {
    padding: 1rem 0;
    border-bottom: 1px solid black;
  }

  &__group-filter {
    width: 100%;
    height: fit-content;
    max-height: 300px;
    overflow-y: auto;
  }
}
