.admin-page-wrapper {
  width: 100%;
  height: 100%;
  padding: 5rem;
  margin: 90px 0;

  &__space {
    width: 100%;
    height: 100%;

    &__control {
      display: flex;
      gap: 16px;

      &__search {
        flex: 9;
      }

      &__button-add {
        flex: 1;
      }
    }
  }
}
