.loading-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: stopLoading 1000ms forwards;
  animation-delay: 2000ms;

  &::before {
    content: '';
    background-image: url(https://i.gifer.com/4f0I.gif);
    background-repeat: no-repeat;
    z-index: 1000;
    width: 480px;
    height: 400px;
  }
}

@keyframes stopLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
