.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.spiner {
  &__icon {
    font-size: 72px;
    color: black;
  }
}

.back-top {
  background-color: #555;
  border: none;

  &:hover,
  &:focus {
    background-color: #222;
  }
}
