.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__icon {
    font-size: 72px;
    color: black;
  }
}
