.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.spiner {
  &__icon {
    font-size: 72px;
    color: black;
  }
}

.back-top {
  background-color: black;
  border: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
